body{
    margin: 100;
    padding: 100;
    line-height: 0.6;
    width: auto;
    background-image:url("green.png");
    
}

.calci{

    width: 500px;
    padding-top: 100px;
    padding-bottom: 100px;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);
    transition: 0.25px;
    text-align: center;
}

#display{
    border: none;
    background-color: white;
    border-radius: 30px;
    width: 245;
    font-size: 20;
    font-family: sans-serif;
    font-weight: 300;
    height: 60;
    margin: auto;
    border: 2px solid white;
    color: black;
    padding-left: 0.75cm;
}

.btnDesign{
    width: 55;
    height: 55;
    padding-top: -1;
    border: none;
    font-family: sans-serif;
    background: white;
    font-size: 20;
    font-weight: 300;
    border-radius: 30px;
    margin: 1.5;
}
.btnDesign:hover{
    background: #e8905d;
}

.operationDesign{
    width: 55;
    height: 55;
    padding-top: -1;
    border: none;
    font-family: sans-serif;
    font-size: 20;
    background: white;
    font-weight: 300;
    border-radius: 30px;
    margin: 1.5;
    transition: 0.25px;
    cursor: pointer;
}
.operationDesign:hover{
    background: #5dd3e8;
}

#zero{
    width: 116;
    height: 55;
    padding-top: -1;
    border: none;
    background: white;
    font-family: sans-serif;
    font-size: 20;
    font-weight: 300;
    border-radius: 30px;
    margin: 1.5;
    transition: 0.25px;
    cursor: pointer; 
}
#zero:hover{
    background: #e8905d;

}

h1{

    color: rgb(233, 63, 66);
    margin-top: auto;
    margin-left: auto;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 45;

}
::placeholder{
    padding-left: 5;
    opacity: 0.2;
}